@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
}

h1 {
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid black;
  font-size: 40px;
}

h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
}

.code-1 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 800px;
  margin-top: 40px;
}

.container-1 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr; 
}

.item {
  /*border: 1px solid blue;*/
  background: rgb(115, 106, 207);
  margin: 5px;
}

.container-2 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.code-2 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-3 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
}

.code-3 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-4 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 200px; 
}

.code-4 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-5 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px 70px 80px 90px 100px; 
}

.code-5 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-6 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  padding: 40px;
}

.code-6 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-7 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  row-gap: 100px;
}

.code-7 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-8 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  row-gap: 30px;
  column-gap: 300px;
}

.code-8 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-9 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 500px; 
}

.code-9 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-10 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(700px, 1fr) minmax(200px, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-10 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-11 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-11 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-12 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-12 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-13 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-13 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-14 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-14 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.container-15 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-15 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1100px;
  margin-top: 40px;
}

.item-2-15 {
  grid-row-start: 1;
  background: orange;
}