@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
}

h1 {
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid black;
  font-size: 40px;
}

h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
}

.item {
  /*border: 1px solid blue;*/
  background: rgb(115, 106, 207);
  margin: 5px;
}

.container-1 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr; /* one fraction which will occupy the only one column */
}

.code-block-1 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 750px;
  margin-top: 40px;
}

.container-2 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* two fractions which means two columns, having the same fraction */
}

.code-block-2 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 850px;
  margin-top: 40px;
}

.container-3 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr; /* two fractions which means two columns, having two different fractions */
}

.code-block-3 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 880px;
  margin-top: 40px;
}

.container-4 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 200px; /* first row auto, second row has 200px */
}

.code-block-4 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 650px;
  margin-top: 40px;
}

.container-5 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px 70px 80px 90px 100px; 
}

.code-block-5 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 750px;
  margin-top: 40px;
}

.container-6 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  padding: 40px;
}

.code-block-6 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 340px;
  margin-top: 40px;
}

.container-7 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  row-gap: 100px;
}

.code-block-7 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 340px;
  margin-top: 40px;
}

.container-8 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  row-gap: 30px;
  column-gap: 300px;
}

.code-block-8 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 350px;
  margin-top: 40px;
}

.container-9 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 500px; 
}

.code-block-9 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 470px;
  margin-top: 40px;
}

.container-10 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(700px, 1fr) minmax(200px, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-10 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 1000px;
  margin-top: 40px;
}

.container-11 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-11 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 405px;
  margin-top: 40px;
}

.container-12 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-12 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 500px;
  margin-top: 40px;
}

.container-13 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-13 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 500px;
  margin-top: 40px;
}

.container-14 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-14 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 530px;
  margin-top: 40px;
}

.container-15 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-15 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 390px;
  margin-top: 40px;
}

.item-2-15 {
  background: orange;
  grid-row-start: 1;
}

.container-16 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-16 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 380px;
  margin-top: 40px;
}

.item-2-16 {
  background: orange;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container-17 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-17 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 380px;
  margin-top: 40px;
}

.item-2-17 {
  background: orange;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}

.container-18 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-18 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 380px;
  margin-top: 40px;
}

.item-2-18 {
  background: orange;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.container-19 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-19 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 380px;
  margin-top: 40px;
}

.item-2-19 {
  background: orange;
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.container-20 {
  border: 3px solid red;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.code-block-20 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 525px;
  margin-top: 40px;
}

.item-2-20 {
  background: orange;
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.item-7-20 {
  background: green;
  grid-row: 4 / span 4; /* this is the same as grid-row: 4 / 8 */
  grid-column: 1 / span 3;
}

.container-21 {
  /* border: 3px solid red;
  text-align: center;
  margin: 10px; */
  display: grid;
  grid-template-areas: 
  "i1 i2"
  "i3 i4"
  ;
  height: 100vh;
  width: 100vw;
}

.item-21 {
  /*border: 1px solid blue;*/
  background: rgb(115, 106, 207);
  /* margin: 5px; */
}

.code-block-21 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 340px;
  margin-top: 40px;
}

.item-1-21 {
  grid-area: i1;
}

.item-2-21 {
  grid-area: i2;
}

.item-3-21 {
  grid-area: i3;
}

.item-4-21 {
  grid-area: i4;
}

.container-22 {
  display: grid;
  grid-template-areas: 
  "i1 i1"
  "i2 i3"
  "i4 i4"
  ;
  height: 100vh;
  width: 100vw;
}

.item-22 {
  background: rgb(115, 106, 207);
  
}

.code-block-22 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 340px;
  margin-top: 40px;
}

.item-1-22 {
  grid-area: i1;
  background: tomato;
}

.item-2-22 {
  grid-area: i2;
  background: yellow;
}

.item-3-22 {
  grid-area: i3;
  background: bisque;
}

.item-4-22 {
  grid-area: i4;
}

.container-23 {
  display: grid;
  grid-template-areas: 
  "i1 i1"
  "i2 i3"
  "i4 i4"
  ;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 50px 1fr 60px;
  height: 100vh;
  width: 100vw;
}

.item-23 {
  background: rgb(115, 106, 207);
}

.code-block-23 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 380px;
  margin-top: 40px;
}

.item-1-23 {
  grid-area: i1;
  background: tomato;
}

.item-2-23 {
  grid-area: i2;
  background: yellow;
}

.item-3-23 {
  grid-area: i3;
  background: bisque;
}

.item-4-23 {
  grid-area: i4;
}

.container-24 {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center; /* the default is stretch */
  gap: 20px; /* or grid-gap */
  height: 100vh;
  width: 100vw;
  background: yellow; 
}

.code-block-24 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 450px;
  margin-top: 40px;
}

.item-24 {
  background: deeppink;
  height: 100px;
  width: 100px;
}

.container-25 {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center; /* the default is stretch */
  align-content: end; /* use the inspect feature to see it better */
  justify-items: end; /* use the inspect feature to see it better */
  gap: 20px; /* or grid-gap */
  height: 100vh;
  width: 100vw;
  background: yellow; 
}

.item-25 {
  background: deeppink;
}

.item-8-25 {
  align-self: end;
  justify-self: center;
}

.code-block-25 {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 50px;
  width: 620px;
  margin-top: 40px;
}

#test-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: #936e6e;
}

#test-section-heading {
  padding: 40px;
}

#main-grid-box {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  justify-items: stretch;
  grid-template-rows: 200px 200px;
  justify-content: center;
}

.square {
  background: aqua;
}